.idea/*
__pycache__/*
backend/__pycache__/*
Base/__pycache__/*
BrainIAK/htfa.py
BrainIAK/tfa.py
BrainIAK/tfa_extension.cpp
BrainIAK/__pycache__/*
GUI/__pycache__/*
Hyperalignment/__pycache__/*
IO/__pycache__/*
MVPA/__pycache__/*
Network/__pycache__/*
Preprocess/__pycache__/*
RSA/__pycache__/*
RSA/BRSA/__pycache__/*
Script/.DS_Store
Visualization/__pycache__/*
history
.DS_Store
.vscode/*
